<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="mod_imagework_display_text">
        <observer name="imagework_register_observer" instance="Mod\ImageWork\Observer\ImageWork" />
    </event>
</config>